[submodule "GameEngine/vendor/spdlog"]
	path = GameEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GameEngine/vendor/GLFW"]
	path = GameEngine/vendor/GLFW
	url = git@github.com:thijs666/glfw.git
